## Assignment: Analyzing Historical Stock/Revenue Data and Building a Dashboard

## Q1 - Extracting Tesla Stock Data Using yfinance - 2 Points

In [4]:
import yfinance as yf

In [5]:
tsla = yf.Ticker("TSLA")
tsla_data = tsla.history(period="max")
tsla_data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

## Q2 - Extracting Tesla Revenue Data Using Webscraping - 1 Points

In [13]:
from bs4 import BeautifulSoup

In [ ]:
html=

In [12]:
soup=BeautifulSoup(html, 'html5lib')

NameError: name 'html' is not defined

In [ ]:
table=table.find_all(name='tr')

## Q3 - Extracting GameStop Stock Data Using yfinance - 2 Points

In [6]:
gme = yf.Ticker("GME")
gme_data = gme.history(period="max")
gme_data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2002-02-13 00:00:00-05:00,1.620129,1.693350,1.603296,1.691667,76216000,0.0,0.0
2002-02-14 00:00:00-05:00,1.712707,1.716074,1.670626,1.683250,11021600,0.0,0.0
2002-02-15 00:00:00-05:00,1.683250,1.687458,1.658002,1.674834,8389600,0.0,0.0
2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
2002-02-20 00:00:00-05:00,1.615920,1.662210,1.603296,1.662210,6892800,0.0,0.0

## Q4 - Extracting GameStop Revenue Data Using Webscraping - 1 Points

## Q5 - Tesla Stock and Revenue Dashboard - 2 Points

## Q6 - GameStop Stock and Revenue Dashboard- 2 Points

## Q7 - Sharing your Assignment Notebook - 2 Points